body {
    font-family:  Roboto, sans-serif;
}
.nav {
    margin: -20px;
    color:white;
    background-color: #1F2947;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav li {
    margin: 20px;
    display: inline-block;
    text-align: center;
}

.header-logo {
    font-size: 24px;
    margin-left: 30%;
}
.header-items {
    display: inline-block;
    margin-top: 8px;
    margin-left: 20%;
}
a { 
    color: white;
    text-decoration: none;
 }
